<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen" th:href="@{/css/nicepage2.css}">
    <link href="../static/css/table.css" media="screen" th:href="@{/css/table.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css" media="screen" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/heading.css" th:href="@{/css/heading.css}">
    <link rel="stylesheet" href="../static/css/body.css" th:href="@{/css/body.css}">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.9.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/default-logo.png"
    }</script>
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">
<header class="u-clearfix u-header u-header" id="sec-07f4">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1">
            <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" th:href="@{/}">Deliver Service</a>
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                        data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/employees/new}">Create </a>
                        </li>
                        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" th:href="@{/profile}">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="u-align-center u-clearfix u-section-1" id="carousel_a3a9">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1 new-parcel-container">
        <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-1">All Employees</h1>
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity u-table-entity-1">
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <thead class="u-custom-font u-font-courier-new u-palette-4-base u-table-header u-table-header-1">
                <tr style="height: 58px;">
                    <th class="u-table-cell">Id</th>
                    <th class="u-table-cell">Username</th>
                    <th class="u-table-cell">Email</th>
                    <th class="u-table-cell">First name</th>
                    <th class="u-table-cell">Last name</th>
                    <th class="u-table-cell">Actions</th>
                </tr>
                </thead>
                <tbody class="u-table-body">
                <tr th:each="employee, iStat : ${employeePage.content}">
                    <!--&lt;!&ndash; th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? 'even' : 'odd'">&ndash;&gt;-->
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell" th:text="${employee.id}">1</td>
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell" th:text="${employee.user.username}">K.Georgiev</td>
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell" th:text="${employee.user.email}">example@example.com</td>
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell" th:text="${employee.user.firstName}">Kiril</td>
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell" th:text="${employee.user.lastName}">Georgiev</td>
                    <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell">
                        <a href="#" th:href="@{/employees/{id}/delete(id=${employee.getId()})}" class="button4" style="background-color:#f14e4e">Delete</a>
                    </td>
                </tr>
                </tbody>

            </table>
            <div th:if="${employeePage.totalPages > 0}" class="pagination" id = "element1"
                 th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/employees(size=${employeePage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==employeePage.number + 1} ? ative"></a>
            </div>
        </div>
    </div>
</section>

<br/><br/><br/><br/>

<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">LOCATION</h4>
                <p class="pre-wrap lead mb-0">2215 John Daniel Drive
                    Clark, MO 65243</p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="mb-4">ABOUT FREELANCER</h4>
                <p class="pre-wrap lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by Start
                    Bootstrap</p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
<!-- Bootstrap core JS-->
</body>
</html>