<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <link href="../static/css/table.css" th:href="@{/css/table.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen" th:href="@{/css/nicepage.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
</head>

<body class="u-body">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" th:href="@{/}">Deliver Service</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Profile</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/parcels}">Parcels</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section>
    <div class="new-parcel-container">
        <h2>Create Parcel</h2>
        <form th:fragment="parcel-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
              th:object="${parcel}" method="post">
            <label th:text="#{parcel.label.weight}">Weight</label>
            <br/>
            <label>
                <input type="number" th:field="*{weight}"/>
            </label>
            <label class="error" th:errors="*{weight}">Weight error</label>
            <br/>
            <label th:text="#{parcel.label.category}">Category</label>
            <br/>

            <label>
                <select th:field="*{categoryId}">
                    <option th:each="category : ${categories}"
                            th:value="${category.getId()}"
                            th:text="${category.getId()}">
                        1
                    </option>
                </select>
            </label>
            <br/>
            <label th:text="#{parcel.label.warehouse}">Warehouse</label>
            <br/>
            <select th:field="*{warehouseId}">
                <option th:each="warehouse : ${warehouses}"
                        th:value="${warehouse.getId()}"
                        th:text="${warehouse.getId()}">
                    1
                </option>
            </select>
            <br/>
            <label th:text="#{parcel.label.shipment}">Shipment</label>
            <br/>
            <select th:field="*{shipmentId}">
                <option th:each="shipment : ${shipments}"
                        th:value="${shipment.getId()}"
                        th:text="${shipment.getId()}">
                    1
                </option>
            </select>
            <br/>
            <label th:text="#{parcel.label.customer}">Customer</label>
            <br/>
            <select th:field="*{customerId}">
                <option th:each="customer : ${customers}"
                        th:value="${customer.getId()}"
                        th:text="${customer.getUser().getUsername()}">
                    IvanDraganov
                </option>
            </select>

            <br/><br/>

            <input type="submit" value="Save"/>
        </form>
    </div>
</section>
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">LOCATION</h4>
                <p class="pre-wrap lead mb-0">2215 John Daniel Drive
                    Clark, MO 65243</p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="mb-4">ABOUT FREELANCER</h4>
                <p class="pre-wrap lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by Start
                    Bootstrap</p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js" th:href="@{/js/scripts.js}"></script>
</body>
</html>