<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Single Shipment">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Single Shipment</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen" th:href="@{/css/nicepage.css}">
    <link rel="stylesheet" href="../static/css/styles.css" media="screen" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/table.css" media="screen" th:href="@{/css/table.css}">
    <link rel="stylesheet" href="../static/css/Page-1.css" media="screen" th:href="@{/css/Page-1.css}">
    <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.9.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">


    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/default-logo.png"
    }</script>
    <meta property="og:title" content="Page 1">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body">
<header class="u-clearfix u-header u-header" id="sec-07f4">
    <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" th:href="@{/}">Deliver Service</a>
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                        type="button"
                        data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/shipments/new}">Create</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/parcels}">Parcels</a>
                        </li>
                        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" th:href="@{/profile}">Profile</a>
                        </li>
                        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href=""
                               th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="u-align-center u-clearfix u-white u-section-1" id="carousel_1952">
    <div class="u-clearfix u-sheet u-sheet-1 new-shipment-container">
        <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-1">Single Shipment</h1>
        <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-60 u-white u-layout-cell-1">
                        <div class="u-border-3 u-border-palette-2-base u-container-layout u-container-layout-1">
                            <div class="u-container-style u-expanded-width u-group u-palette-4-base u-group-1">
                                <div class="u-container-layout u-container-layout-2">
                                    <img src="../static/assets/img/track-shipment.png" alt=""
                                         class="u-image u-image-default u-preserve-proportions u-image-1"
                                         data-image-width="256" data-image-height="256"
                                         th:src="@{/assets/img/track-shipment.png}">
                                </div>
                            </div>
                            <div class="u-table u-table-responsive u-table-1">
                                <table class="u-table-entity">
                                    <colgroup>
                                        <col width="9.2%">
                                        <col width="39%">
                                        <col width="28.8%">
                                        <col width="23%">
                                    </colgroup>
                                    <thead class="u-align-center u-grey-10 u-table-header u-table-header-1">
                                    <tr style="height: 66px;">
                                        <th class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-1">id</th>
                                        <th class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-2">Departure
                                            Date
                                        </th>
                                        <th class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-3">Arrival Date<br>
                                        </th>
                                        <th class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-4">
                            <span style="font-weight: 400;">
                              <span style="font-weight: 700;">Status</span>
                            </span>
                                            <br>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="u-align-center u-table-body u-table-valign-middle">
                                    <tr style="height: 79px;">
                                        <td class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-7"
                                            th:text="${shipment.id}">1
                                        </td>
                                        <td class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-7"
                                            th:text="${shipment.departureDate}">
                                            <!--<span style="font-weight: 400;"> 2021-03-01</span>
                                            <br>-->
                                        </td>
                                        <td class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-7"
                                            th:text="${shipment.arrivalDate}">2021-04-01
                                        </td>
                                        <td class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-7"
                                            th:text="${shipment.status}">On the way
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="#parcels"
                               class="u-btn u-button-style u-hover-palette-5-dark-2 u-palette-2-base u-btn-1">Parcels</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-section-2 page-section" id="parcels">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <li th:if="${!shipmentParcels.isEmpty()}">
                <table class="u-table-entity u-table-entity-1">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <thead class="u-palette-4-base u-table-header u-table-header-1">
                    <tr style="height: 21px;">
                        <th class="u-border-1 u-border-palette-4-base u-table-cell">Parcel id</th>
                        <th class="u-border-1 u-border-palette-4-base u-table-cell">Category</th>
                        <th class="u-border-1 u-border-palette-4-base u-table-cell">Weight</th>
                        <th class="u-border-1 u-border-palette-4-base u-table-cell">Customer</th>
                        <th class="u-border-1 u-border-palette-4-base u-table-cell">Warehouse Destination</th>
                        <th class="u-border-1 u-border-palette-4-base u-table-cell">Shipment Id</th>
                    </tr>
                    </thead>
                    <tbody class="u-table-body">
                    <tr style="height: 75px;" th:each="parcel: ${shipmentParcels}">
                        <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"
                            th:text="${parcel.id}">1
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"
                            th:text="${parcel.category.name}">Medical
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"
                            th:text="${parcel.weight}">2.2
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"
                            th:text="${parcel.customer.user.username}">IvoAngelov
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"
                            th:text="${parcel.warehouse.getAddress().getCity().getName()}">Sofia
                        </td>
                        <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"
                            th:text="${parcel.shipment.id}">1
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${parcelPage.totalPages > 0}" class="pagination" id="element1"
                     th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/shipments(size=${parcelPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==parcelPage.number + 1} ? ative"></a>
                </div>
            </li>
        </div>
    </div>
</section>


<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">LOCATION</h4>
                <p class="pre-wrap lead mb-0">2215 John Daniel Drive
                    Clark, MO 65243</p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1"><i
                    class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="mb-4">ABOUT FREELANCER</h4>
                <p class="pre-wrap lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by Start
                    Bootstrap</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>