<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

        body
        {
            background-image: url("static/assets/img/natural-forest-trees-fog.jpeg");
        }

        .stat {
            background: #121212;
            padding-top: 80px;
            padding-bottom: 80px;
            color: white;
            background-attachment: fixed;
            margin-top: 209px;
        }

        .stat i {
            font-size: 50px;
        }

        .stat-items h2 {
            font-weight: bold;
            font-size: 42px;
            color: darkorange;
        }

        .stat p {
            font-weight: bold;
            leftter-spacing: 1px;
        }

    </style>
</head>
<body id="page-top">
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Deliver Service</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- For anonymous users-->
                <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" th:href="@{/warehouses}">Locations</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Customers Number</a>
                </li>
                <li th:if="${currentUser == null}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href=""
                       th:href="@{/login}">Login</a>
                </li>
                <!--For Authorized users-->
                <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Profile</a>
                </li>
                <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href=""
                       th:href="@{/logout}">Logout</a>
                </li>
                <li th:if="${currentUser != null && currentUser.isEmployee()}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                       th:href="@{/shipments}">Shipments</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="stat" id="stats">
    <div calss="content-box">
        <br><br>
        <div class="row text-center">
            <div class="col-md-3">
                <div class="stat-items">
                    <i class="fa fa-camera"></i>
                    <h2><span class="counter text-center">3390</span><span>+</span>
                    </h2>
                    <p>VIEWERS</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-items">
                    <i class="fas fa-users"></i>
                    <h2><span class="counter text-center" th:text="${customers}">3245</span><span>+</span>
                    </h2>
                    <p>CUSTOMERS</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-items">
                    <i class="fa fa-cog"></i>
                    <h2><span class="counter text-center">7236</span><span>+</span>
                    </h2>
                    <p>INTERNATIONALLY</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-items">
                    <i class="fa fa-edit"></i>
                    <h2><span class="counter text-center">3390</span><span>+</span>
                    </h2>
                    <p>WINDOW SUPPORT</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" th:src="@{/js/jquery.waypoints.min.js.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.counterup.min.js}"></script>
<script src="../static/js/jquery.waypoints.min.js"></script>
<script src="../static/js/jquery.counterup.min.js"></script>
<script>
    jQuery(document).ready(function() {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
    });
</script>

</body>
</html>