<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single Warehouse</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/nicepage22.css" media="screen" th:href="@{/css/nicepage2.css}">
    <link rel="stylesheet" href="../static/css/styles.css" media="screen" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="../static/css/table.css" media="screen" th:href="@{/css/table.css}">
    <link rel="stylesheet" href="../static/css/Page-1.css" media="screen" th:href="@{/css/Page-1.css}">
    <script class="u-script" type="text/javascript" src="js/jquery2.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage2.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.9.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
</head>
<body class="u-body">
<header class="u-clearfix u-header u-header" id="sec-07f4">
    <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand js-scroll-trigger" th:href="@{/}">Deliver Service</a>
                <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                        type="button"
                        data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1" th:if="${currentUser != null && currentUser.isEmployee()}">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                               th:href="@{/warehouses/new}">Create</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" th:href="@{/warehouses}">Locations</a>
                        </li>
                        <li th:if="${currentUser != null && currentUser.isEmployee()}" class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                               th:href="@{/shipments}">Shipments</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1" th:if="${currentUser != null && currentUser.isEmployee()}">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/parcels}">Parcels</a>
                        </li>
                        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" th:href="@{/profile}">Profile</a>
                        </li>
                        <li th:if="${currentUser != null}" class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href=""
                               th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="u-align-center u-clearfix u-white u-section-1" id="carousel_1952">
    <div class="u-clearfix u-sheet u-sheet-1 new-shipment-container">
        <h1 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-1">Single
            Warehouse</h1>
        <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-60 u-white u-layout-cell-1">
                        <div class="u-border-3 u-border-palette-2-base u-container-layout u-container-layout-1">
                            <div class="u-container-style u-expanded-width u-group u-palette-4-base u-group-1">
                                <div class="u-container-layout u-container-layout-2">
                                    <img src="../static/assets/img/track-shipment.png" alt=""
                                         class="u-image u-image-default u-preserve-proportions u-image-1"
                                         data-image-width="256" data-image-height="256"
                                         th:src="@{/assets/img/warehouselogo.png}">
                                </div>
                            </div>
                            <div class="u-table u-table-responsive u-table-1">
                                <table class="u-table-entity">
                                    <colgroup>
                                        <col width="9.2%">
                                        <col width="39%">
                                        <col width="28.8%">
                                        <col width="23%">
                                    </colgroup>
                                    <thead class="u-align-center u-grey-10 u-table-header u-table-header-1">
                                    <tr style="height: 66px;">
                                        <th class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-1">Id</th>
                                        <th class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-2">Country
                                        </th>
                                        <th class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-3">City<br>
                                        </th>
                                        <th class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-3">Street 4
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="u-align-center u-table-body u-table-valign-middle">
                                    <tr style="height: 79px;">
                                        <td class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-7"
                                            th:text="${warehouse.id}">1
                                        </td>
                                        <td class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-7"
                                            th:text="${warehouse.getAddress().getCity().getCountry().getName()}">
                                            Bulgaria
                                        </td>
                                        <td class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-7"
                                            th:text="${warehouse.getAddress().getCity().getName()}">Sofia
                                        </td>
                                        <td class="u-border-1 u-border-grey-25 u-table-cell u-table-cell-7"
                                            th:text="${warehouse.getAddress().getStreet()}">Street Refactor
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>